# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**

- List popular languages for Data Science
- Identify commonly used libraries in data science
- Introduce development environment tools for data science
- Provide examples of evaluating arithmetic expressions in Python
- Demonstrate conversion of units (e.g., minutes to hours) in Python

## Overview

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Julia

## Overview

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Scikit-learn


## Data Science Tools

| Development Environment Tools |
| ----------------------------- |
| Jupyter Notebook             |
| RStudio                       |
| VSCode + Python Extension    |

### Examples of Evaluating Arithmetic Expressions in Python

Below are a few examples of evaluating arithmetic expressions in Python:
```python
# Example 1
result_1 = 5 + 3 * 2
print(result_1)

# Example 2
result_2 = (10 - 2) / 4
print(result_2)

# Example 3
result_3 = 2 ** 3
print(result_3)

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author

Navendu Vyas